a
{
	color: grey !important;
}

a:hover
{
	color: #dbc359 !important;
	text-decoration: underline !important;
}

button
{
	color: grey !important;
	text-decoration: underline;
	font-weight: bold !important;
}

button:hover
{
	color: #dbc359 !important;
	text-decoration: underline;
	font-weight: bold !important;
}



/*nav section*/
nav
{
	border-bottom: 1px solid black;
}

nav  ul > li > a
{
	font-weight: bold;
}

.nav-search-custom
{
	position: relative;
	top: 15px;
	width: 100% !important;
}



/*content section*/
.main-content
{
	padding-top: 15px;
	padding-bottom: 15px;
}

.tab-pane-custom
{
	margin: 10px 20px;
}

#test
{
	background-color: white;
	border-bottom: 1px solid black;
}

.sticky-title-after
{
    padding-top:25px;
}

/*footer section*/
.footer-main
{
	background-color: #4a4c4f;
	color: white;
}

.footer-main a
{
	color: white;
}

.footer-copyright
{
	text-align: center;
	color: rgba(255,255,255,.6);
}

.footer-copyright a
{
	color: white;
}