nav
{
	background-color: #00004d;
}

nav ul > li > a
{
	color: white !important;
	font-weight: bold;	
}

nav ul > li > a:hover 
{ 
    color: yellow !important;
}

.main-content
{
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer-main
{
	background-color: #000066;
	color: white;
}

.footer-main a
{
	color: white;
}

.footer-copyright
{
	text-align: center;
	color: rgba(255,255,255,.6);
	background-color: #00004d;
}

.footer-copyright a
{
	color: white;
}